@media only screen and (orientation: portrait) {
  .turn-device {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    z-index: 999999 !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;
    background-color: rgba(250, 235, 215, 0.555);
    border-radius: 20px;
  }
  .rotate-img {
    width: 30%;
    height: 30%;
  }
}

@media only screen and (orientation: landscape) {
  body {
    overflow-y: hidden;
  }
  .turn-device {
    display: none !important;
  }

  .panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    top: 80%;
    width: 100%;
  }

  .panel-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px;
    background-color: rgba(194, 181, 8, 0.808);
    box-shadow: 5px 5px 5px rgb(56, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-left-resp:hover,
  .btn-right-resp:hover,
  .btn-jump-resp:hover,
  .btn-throw-resp:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  .btn-resp {
    width: 35px;
    height: 35px;
  }

  .btn-left-resp-img {
    transform: rotate(180deg);
  }

  .btn-jump-resp-img {
    transform: rotate(270deg);
  }
  .canvas-container:fullscreen .canvas-icons {
    top: 10%;
    right: 5%;
  }
  .canvas-icons {
    position: absolute;
    top: 10%;
    right: 5%;
    left: auto;
    transform: translateY(-50%);
    z-index: 9;
  }
}
@media only screen and (max-height: 770px) and (max-width: 1050px) {
  /* For standard browsers */
  .canvas-container:fullscreen .canvas-icons {
    top: 10%;
    right: 5%;
  }

  /* For Webkit browsers */
  .canvas-container:-webkit-full-screen .canvas-icons {
    top: 10%;
    right: 5%;
  }

  .panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    top: 78%;
    width: 100%;
  }

  .panel-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px;
    background-color: rgba(194, 181, 8, 0.808);
    box-shadow: 5px 5px 5px rgb(56, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-left-resp:hover,
  .btn-right-resp:hover,
  .btn-jump-resp:hover,
  .btn-throw-resp:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  .btn-resp {
    width: 35px;
    height: 35px;
  }

  .btn-left-resp-img {
    transform: rotate(180deg);
  }

  .btn-jump-resp-img {
    transform: rotate(270deg);
  }

  .canvas-wrapper .fail-modal {
    width: 100%;
    height: 100%;
  }

  .lost-replay,
  .win-replay {
    font-size: 19px;
    width: 200px;
    height: 60px;
  }

  canvas {
    width: 720px;
  }
  .canvas-icons {
    position: absolute;
    top: 10%;
    right: 5%;
    left: auto;
    transform: translateY(-50%);
    z-index: 9;
  }
  .opening-modal {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: brown;
  }
  .instructions {
    width: 80%;
  }
  .impressum-modal {
    width: 80%;
    height: 70%;
    top: 50%;
  }
  .impressum-modal p {
    margin: 0;
  }
  .canvas-wrapper {
    position: relative;
    display: inline-block;
  }
}
@media only screen and (max-width: 875px) {
  canvas {
    width: 100%;
  }
  .impressum-modal {
    height: 60%;
  }
  .impressum-modal p {
    margin: 0;
  }
}
@media only screen and (max-width: 730px) {
  .panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    top: 78%;
    width: 100%;
  }
  .impressum-modal {
    font-size: 16px;
    top: 53%;
  }

  .panel-wrapper {
    display: flex;
    padding: 20px;
    gap: 20px;
  }

  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 7px;
    background-color: rgba(194, 181, 8, 0.808);
    box-shadow: 5px 5px 5px rgb(56, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-left-resp:hover,
  .btn-right-resp:hover,
  .btn-jump-resp:hover,
  .btn-throw-resp:hover {
    transform: scale(0.9);
    cursor: pointer;
  }

  .btn-resp {
    width: 35px;
    height: 35px;
  }

  .btn-left-resp-img {
    transform: rotate(180deg);
  }
  .btn-jump-resp-img {
    transform: rotate(270deg);
  }

  .canvas-wrapper .fail-modal {
    width: 100%;
    height: 100%;
  }

  .lost-replay,
  .win-replay {
    font-size: 19px;
    width: 250px;
    height: 60px;
  }

  canvas {
    width: 100%;
  }
  .canvas-icons {
    position: absolute;
    top: 10%;
    right: 5%;
    left: auto;
    transform: translateY(-50%);
    z-index: 9;
  }
  .opening-modal {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: brown;
  }
  .instructions {
    width: 80%;
  }
  .impressum-modal {
    width: 80%;
  }
  .canvas-wrapper {
    position: relative;
    display: inline-block;
  }
}

@media only screen and (max-width: 620px) {
  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 30px;
    height: 30px;
  }
  .btn-resp {
    width: 25px;
    height: 25px;
  }
  .panel {
    z-index: 4;
  }
  .impressum-modal {
    z-index: 6;
    top: 65%;
  }
}
@media only screen and (max-width: 520px) {
  .panel {
    top: 78%;
  }
  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 25px;
    height: 25px;
  }
  .btn-resp {
    width: 24px;
    height: 24px;
  }
  .canvas-wrapper .fail-modal {
    width: 100%;
    height: 100%;
  }
  .canvas-wrapper .win-modal {
    width: 100%;
    height: 100%;
  }
  .lost-replay,
  .win-replay {
    font-size: 16px;
    width: 200px;
    height: 40px;
  }
  h1 {
    display: none;
  }
  .instructions,
  .impressum-modal {
    font-size: 16px;
    z-index: 6;
  }
  .impressum-modal {
    height: 70%;
    top: 50%;
  }
  .credits {
    font-size: 14px;
  }
  .start-btn,
  .how-to-play-btn,
  .impressum {
    font-size: 16px;
    padding: 6px;
  }
  .credits {
    font-size: 13px;
  }
}
@media only screen and (max-width: 440px) {
  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 20px;
    height: 20px;
  }
  .btn-resp {
    width: 20px;
    height: 20px;
  }
  .impressum-modal {
    height: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .btn-left-resp,
  .btn-right-resp,
  .btn-jump-resp,
  .btn-throw-resp {
    width: 17px;
    height: 17px;
  }
  .credits {
    font-size: 11px;
  }

  .btn-resp {
    width: 17px;
    height: 17px;
  }
  .impressum-modal {
    font-size: 13px;
  }

  .lost-replay,
  .win-replay {
    font-size: 15px;
    width: 190px;
    height: 40px;
  }
}

@media only screen and (max-height: 780px) {
  h1 {
    display: none;
  }
}
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}
