@font-face {
  font-family: "Eater";
  src: url(./fonts/Eater/Eater-Regular.ttf);
}

body {
  /* width: 100vw; */
  height: 100vh;
  height: 100%;
  overflow-x: hidden;
  margin: auto 0;
  /* opacity: 0.5; */
  background-size: cover;
  background-blend-mode: overlay;
  background-size: auto;
  font-family: "Eater", sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* opacity: 0.8; */
  font-size: 80px;
  color: rgb(177, 76, 51);
  text-shadow: 7px 5px black;
}

div {
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  /* background-image: url("img/Background/halloween-5696838_1920.jpg"); */
  background-size: cover;
  /* background-size: contain; */
}

p{
    position:absolute;
    top:250px;
    left:390px;
    z-index:5;
    color:black;
    text-shadow: none;
    font-size:100px;
}

h1 {
  top: 0;
  left: 300px;
  position: absolute;
  margin: 0;
  z-index: 9999;
}
img {
  position: absolute;
  top: 100px;
  left: 40px;
  z-index: 9999;
}

.img2 {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  opacity: 0.5;
  width: 400px;
  height: 400px;
  top: 320px;
  left: 800px;
  position: absolute;
}

.img3 {
  top: 200px;
  left: 100px;
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 2;
}
/* 
.container {
  width: 100%;
  height: 100%;
  background-image: url("img/Background/halloween-5696838_1920.jpg");
} */
