html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  height: 100%;
  overflow-x: hidden;
  background-image: url("img/Background/art-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Eater", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

canvas {
  background-color: black;
  position: relative;
  display: block;
}

@font-face {
  font-family: "Eater";
  src: url(./fonts/Eater/Eater-Regular.ttf);
}

h1 {
  font-size: 40px;
  color: rgb(236, 236, 50);
  text-shadow: 2px 5px black;
}

.canvas-wrapper {
  position: relative;
  display: inline-block;
}
.canvas-container {
  position: relative;
  display: inline-block;
  margin: 0;
}
/* Fullscreen canvas container */
.canvas-container:fullscreen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
}

/* For Webkit browsers (Safari, older Chrome) */
.canvas-container:-webkit-full-screen {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
}

.opening-modal {
  background-image: url("img/Background/halloween-5696838_1920.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  gap: 30px;
}
.overlay {
  height: 100%;
  width: 100%;
}

.modal-header {
  padding-top: 50px;
  display: flex;
  gap: 30px;
}
.modal-footer {
  display: flex;
}
.start-btn,
.how-to-play-btn,
.impressum {
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  font-size: 25px;
  background-color: rgba(172, 163, 163, 0.253);
  transition: transform 0.35s, background-color 0.35s;
}
.start-btn:hover,
.how-to-play-btn:hover,
.impressum:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(236, 236, 50, 0.7);
}

.dp-none {
  display: none;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.375);
  z-index: 999;
}

.instructions {
  background-color: rgb(101, 188, 215);
  height: 200px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  padding: 20px;
}

.key {
  width: 25px;
  height: 25px;
}

.walk,
.throw,
.jump {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 80px;
}
.left {
  transform: rotate(180deg);
}
.up {
  transform: rotate(270deg);
}

.keyD {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid black;
}

.keySpace {
  padding: 7px;
  border: 1px solid black;
  border-radius: 40%;
}

.quit-inst {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.quit-inst:hover {
  cursor: pointer;
}

.impressum:hover {
  cursor: pointer;
}
.impressum-modal {
  background-color: rgb(101, 188, 215);
  height: 400px;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.impressum-modal p {
  margin: 10px;
}

.quit-imp {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.quit-imp:hover {
  cursor: pointer;
}
.canvas-icons {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 430px;
  z-index: 9;
  right: 40px;
}
/* For standard browsers */
.canvas-container:fullscreen .canvas-icons {
  top: 88%;
  right: 6%;
}

/* For Webkit browsers */
.canvas-container:-webkit-full-screen .canvas-icons {
  top: 88%;
  right: 6%;
}

.icons {
  width: 30px;
  height: 30px;
  filter: invert(70%);
}

.icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.fail-modal {
  background-image: url("img/Background/you-lose.png");
  background-size: 100% 400px;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.win-modal {
  background-image: url("img/Background/you-win.png");
  background-size: 700px 400px;
  height: 400px;
  width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.restart-game {
  width: 45px;
  height: 45px;
}

.lost-replay,
.win-replay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 25px;
  background-color: rgba(37, 28, 28, 0.486);
  width: 285px;
  height: 70px;
  top: 40%;
  right: 10%;
  transition: transform 0.35s, background-color 0.35s;
}

.lost-replay {
  top: 83%;
  right: 8%;
}

.lost-replay:hover,
.win-replay:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(236, 236, 50, 0.7);
}

.restart-game {
  background-color: transparent !important;
}
.canvas-wrapper {
  position: relative;
  display: inline-block;
}

.canvas-wrapper .fail-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: url("img/Background/you-lose.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}
.canvas-wrapper .win-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  width: 100%;
  height: 100%;
  background-image: url("img/Background/you-win.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
}
.panel {
  display: none;
}

.turn-device {
  display: none;
}

.btn-pause {
  border-radius: 10px;

  border: 1px solid black;
  padding: 7px;
  height: 40px;
  font-size: 25px;
  background-color: rgba(172, 163, 163, 0.253);
  transition: transform 0.35s, background-color 0.35s;
  z-index: 9999;
}

.btn-pause:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(236, 236, 50, 0.7);
}

.pause-overlay {
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 18%;
  height: 40vh;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.375);
  z-index: 888;
  font-size: 60px;
  color:rgba(236, 236, 50, 0.7);
}
